extends module

block modulecontent
  h1 Ohio University Consent Form
  h2 Title of Research: Can Nutrition Information Help with the Selection of the Most Nutritious Food Option?
  h2 Researchers: Janna Chimeli and Claudia Gonzalez-Vallejo
  p You are being asked to participate in research.  For you to be able to decide whether you want to participate in this project, you should understand what the project is about, as well as the possible risks and benefits in order to make an informed decision.  This process is known as informed consent.  This form describes the purpose, procedures, possible benefits, and risks.  It also explains how your personal information will be used and protected.  Once you have read this form and your questions about the study are answered, you will be asked to participate in this study.  You may print a copy of this document to take with you.
  h2 Explanation of Study
  p The purpose of this research is to better understand how people choose snacks. You will be asked general questions about food related issues on various domains, and you will also be asked to make snack selections. The estimated duration for answering the questions and selecting snacks is 1 hour.
  h2 Risks and Discomforts
  p There are no known risks or discomforts to you during your participation in the study.
  h2 Benefits
  p This research is anticipated to benefit society by providing insight into the way consumers in general evaluate nutrition information and make food choices. This understanding can help policy makers fight the obesity problem.
  h2 Confidentiality and Records
  p Data is recorded without identifying information until credit is provided.
  p For maximum confidentiality, please clear your browser history and close the browser before leaving the computer.
  p Additionally, while every effort will be made to keep your study-related information confidential, there may be circumstances where this information must be shared with:
  ul
    li Federal agencies, for example the Office of Human Research Protections, whose responsibility is to protect human subjects in research;
    li Representatives of Ohio University (OU), including the Institutional Review Board, a committee that oversees the research at OU.
  h2 Compensation
  p You will receive extra points for this study (talk to your instruction about how many points).
  h2 Contact Information
  p If you have any questions regarding this study, please contact (Janna Chimeli jannachimeli@gmail.com) or my advisor Dr. Claudia Gonzalez-Vallejo (gonzalez@ohio.edu). If you have any questions regarding your rights as a research participant, please contact Chris Hayhow, Director of Research Compliance, Ohio University, (740)593-0664 or hayhow@ohio.edu.


  p By agreeing to participate in this study, you are agreeing that:
  ul
    li you have read this consent form (or it has been read to you) and have been given the opportunity to ask questions and have them answered;
    li you have been informed of potential risks and they have been explained to your satisfaction;
    li you understand Ohio University has no funds set aside for any injuries you might receive as a result of participating in this study;
    li you are 18 years of age or older;
    li your participation in this research is completely voluntary;
    li you may leave the study at any time; if you decide to stop participating in the study, there will be no penalty to you and you will not lose any benefits to which you are otherwise entitled.

  p If you agree to participate in this study, please click on the button to start the study.
  form(name="consent", action="", method="post")
    input(type="submit", value="I Consent")
