extends ./module

block modulecontent
  h1 Debriefing
  p The experiment is now officially over.  What I am going to do now is debrief you, or tell you a little more about this experiment.
  p This experiment is concerned with how college students evaluate nutrition information based on what they know about nutrition and how they feel about aspects of food choice. In addition, this experiment is concerned with how college students rank and select snacks.
  p We would like to thank you for your participation.
  p If you have any questions or concerns about this experiment, please email Janna Chimeli (chimelij@ohio.edu).
