extends module

block modulehead
  link(rel='stylesheet', href='/stylesheets/grid.css')
  script(src="/scripts/ChoiceGrid.js")
block modulecontent
  form(name="grid", action="", method="post")
    !{data}
