extends module

block modulehead
  link(rel='stylesheet', href='/stylesheets/grid.css')
  script(src="/scripts/Timers.js")
  script(src="/scripts/ChoiceGrid.js")

block modulecontent
  form(name="grid", id="gridForm", action="", method="post")
    |!{data}
