extends ./module

block modulecontent
  h1 Welcome to the study!
  p There seems to be a problem with the code you entered.
  p Your code should have 8 digits. Please, try again, and make sure you add the correct code after the slash using the following address:
  p jdmlabweb.azurewebsites.net/
  p If you continue to have problems, please contact Janna Chimeli (chimelij@ohio.edu)
