extends module

block modulehead
  link(rel='stylesheet', href='/stylesheets/admin.css')

block modulecontent
  p Please, answer the following questions by using the sliders. The sliders are divided on a 10-point scale.
  br
  
  !{sliders}
