extends ../module

block modulehead
  link(rel='stylesheet', href='/stylesheets/admin.css')
block modulecontent
  form(name="login", action="", method="post")
      textarea(name="commands", id="commands", rows="20", cols="80")
      br
      input(type="submit", value="Submit")
      br
      !{output}
