div.gridsquare {
	display:inline-block;
	margin:5px;
	border:thin solid black;
	width:7em;
	height:8ex;
	text-align:center;
	vertical-align:top;
}

div.eliminated {
	display:none;
}

div.gridcolumnheader {
	display:inline-block;
	margin:5px;
	width:7em;
	height:5ex;
	text-align:center;
	vertical-align:top;
}

div.gridrowheader {
	display:inline-block;
	margin:5px;
	width:7em;
	height:5ex;
	text-align:center;
	vertical-align:top;
}

div.gridwrapper {
	white-space:nowrap;
}

span.gridcontent {
	display:none;
}

span.showcontent {
	display:inline;
	overflow:hidden;
}

span.gridheader {
	
}


.Centered
{
    vertical-align: middle;
    display: inline-block;
}
.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}